.square {
  width: 120px;
  height: 80px;
  background-color: cadetblue;
  color: white;
}

.result {
  width: 260px;
  height:100px;
  background-color: grey;
  color:white;
}

.reset {
  width: 80px;
  height:100px;
  background-color: darkslategray;
  color:white;
}
