.square {
  width: 80px;
  height: 80px;
  background-color: cadetblue;
  color: white;
}

.add-square,.equal-square, .subtract-square {
  width: 80px;
  height: 80px;
  background-color: cornsilk;
  color:firebrick;
}

.result {
  width: 320px;
  height:100px;
  background-color: grey;
  color:white;
}
